{% extends "base.html" %}
{% block content %}


    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login_view' %}">
        {% csrf_token %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-lg" style="border-radius: 15px;">
                            <div class="card-body p-5 text-center">

                                <h3 class="mb-5">Sign in</h3>

                                <div class="form-outline mb-4">
                                    <label for="{{ user.username.id_for_label }}">Username:</label>
                                    {{ form.username }}
                                </div>

                                <div class="form-outline mb-4">
                                    <label for="{{ form.password.id_for_label }}">Password:</label>
                                    {{ form.password }}
                                </div>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    {#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}