{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <section style="background-color: #508bfc">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create account</h2>

                                <form action="" method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <div class="d-flex justify-content-center">
                                        {% buttons %}
                                            <input type="submit" class="btn btn-primary" value="Register">
                                        {% endbuttons %}
                                    </div>
                                    <p class="text-center text-muted mt-3 mb-0">Have already an account? <a
                                            href="{% url 'login_view' %}"
                                            class="fw-bold text-body"><u>Login here</u></a></p>

                                    <p class="text-center text-muted mt-3 mb-0">Sign up with<a
                                            href="{% url 'login' %}"
                                            class="fw-bold text-body"><u> Google</u></a></p>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}