{% block content %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            width: 450px;
            display: flex;
            flex-direction: column;
            height: 600px;
            min-width: 300px;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            padding: 30px;
            flex: 1;
        }

        .button-container {
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <div class="container">
        <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
            <div class="card-body">
                <form action="" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        {% bootstrap_form form %}
                    </div>
                    <div class="button-container">
                        <input type="submit" class="btn btn-primary" value="Apply">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
