{% block content %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body, .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #e2e8f0;
        }


        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            width: 450px;
            display: flex;
            flex-direction: column;
            height: 600px;
            min-width: 300px;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            width: 450px;
            max-height: 90vh;
            overflow-y: auto;
        }


        .card-body {
            padding: 30px;
            flex: 1;
        }

        .button-container {
            text-align: center;
        }

        .scrollable-text {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            height: auto;
            overflow-y: auto;
            padding-right: 10px;
        }


        .scrollable-text::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        .scrollable-text::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }

        .scrollable-text::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .scrollable-text::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .scrollable-text::-webkit-scrollbar-thumb {
            margin-right: 2px;
        }


    </style>
    <div class="container">
        <div class="card mb-4 shadow-sm" style="border-radius: 15px;">
            <div class="card-body scrollable-text">
                <form action="" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        {% bootstrap_form form %}
                        {% csrf_token %}
                    </div>
                    <div class="button-container">
                        <input type="submit" class="btn btn-primary" value="Apply">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
