{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 400px;
        }


        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
            min-height: 410px;
            height: auto;
            max-height: 800px;
        }

        .card-body {
            flex: 1;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm, .gutters-sm {
            padding-right: 8px;
            padding-left: 8px;
        }

        .mb-3 {
            margin-bottom: 1rem !important;
        }

        .row.gutters-sm > .col-md-4 {
            margin-bottom: 20px;
            display: flex;
        }

        .custom-img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 300px;
        }

        .scrollable-text {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            max-height: 420px;
            overflow-y: auto;
            padding-right: 10px;
        }


        .scrollable-text::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        .scrollable-text::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }

        .scrollable-text::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .scrollable-text::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .scrollable-text::-webkit-scrollbar-thumb {
            margin-right: 2px;
        }

        .custom-card {
            max-width: 1200px; /* Максимальная ширина 1200 пикселей */
            width: 100%; /* Занимает всю доступную ширину контейнера */
            /* Другие стили по вашему усмотрению */
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ lawyer.image.url }}" alt="NO" class="d-flex flex-column custom-img">
                                <div id="rating" style="padding: 10px; font-size: 22px"></div>
                                <script>
                                    $(document).ready(function () {
                                        function calculateRating() {
                                            const successfulCases = parseFloat({{ lawyer.successful_cases }});
                                            const unsuccessfulCases = parseFloat({{ lawyer.unsuccessful_cases }});
                                            const experience = parseFloat({{ lawyer.experience }});

                                            const rating = (successfulCases - unsuccessfulCases) * Math.sqrt(1 + experience);
                                            $('#rating').text("Your rating: " + rating.toFixed(2));
                                        }

                                        calculateRating();
                                        setInterval(calculateRating, 1000);
                                    });
                                </script>
                                <div class="progress" style="width: 100%; margin-bottom: 5px">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         style="width: {{ success_percentage }}%;"
                                         aria-valuenow="{{ lawyer.successful_cases }}"
                                         aria-valuemin="0" aria-valuemax="100">{{ lawyer.successful_cases }}</div>
                                    <div class="progress-bar bg-danger" role="progressbar"
                                         style="width: {{ failure_percentage }}%;"
                                         aria-valuenow="{{ lawyer.unsuccessful_cases }}"
                                         aria-valuemin="0" aria-valuemax="100">{{ lawyer.unsuccessful_cases }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ lawyer.name }} {{ lawyer.surname }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Birthdate:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ lawyer.birthdate }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Experience:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ lawyer.experience }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Successful cases:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ lawyer.successful_cases }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Unsuccessful cases:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ lawyer.unsuccessful_cases }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Price:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ lawyer.price }}$
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <form method="get">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" formaction="{% url 'edit_lawyer' %}"
                                               class="btn btn-primary"
                                               value="Edit profile">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-3" style="text-align: left; height: auto; min-width: 300px; width: auto">
                    <div class="card mb-3 scrollable-text custom-card"
                         style="
                         padding: 10px;
                         height: auto;
                         min-height: 200px;
                         max-height: 500px;
                         width: 100% ;
                         max-width: 1300px;
                         min-width: 200px;
                         overflow-y: auto;
                         overflow-x: hidden;
                         margin-left: 0;
                        ">
                        <div class="row">
                            <div>
                                <h6 class="mb-0">Characterization:</h6>
                            </div>
                            <div class="col-sm-12 text-secondary" style="max-width: 100%;">
                                {{ lawyer.characterization }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
